<nav data-ng-controller="TopNavController" class="navbar page-header navbar-light fixed-top">
  <div class="d-flex justify-content-between w-100 bg-accent-violet">
    <div class="d-flex align-items-center">
      <div class="navbar-brand cursor-pointer" tabindex="0">
        <div class="position-relative">
          <img alt="Keka" height="25" width="69" class="m-4"
            src="https://cdn.kekastatic.net/shared/branding/logo/keka-logo-light.svg" />
        </div>
      </div>

      <div class="d-flex nav-title align-items-center">
        <h3 class="text-white ">Corporate Chat Club</h3>
        <span class="ki ki-lg ki-settings-fill text-white"></span>
      </div>
    </div>

    <div id="top-nav" class="page-header-left d-flex align-items-center text-white">
      <span class="ki ki-bell text-white mr-10 "></span>
      <div class="employee-profile-header ml-20 ">
        <div class="profile profile-32">
          <div class="profile-picture-container">
            <div class="profile-picture">
              <div class="img-initials bg-accent-yellow">MC</div>
            </div>
          </div>
        </div>
      </div>
      
      <div>
        <span class="profile-name mr-10" routerLink="profile">Manoj Chowdary</span>
      </div>
    </div>
  </div>
</nav>
