<nav role="navigation" class="left-nav navbar navbar-light nav-collapse left-nav-sticky">
  <div class="left-nav-body navbar-inner">
    <ul id="accordion" class="navbar-nav">
      <li routerLinkActive="active" class="nav-item ">
        <a class="nav-link" routerLink="my-home">
          <span class="ki ki-home-fill ki-lg sidebar-list-icon"></span>
          <span class="sidebar-list-label">My Home</span>
        </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="connections">
          <span class="ki ki-address-book ki-lg sidebar-list-icon"></span>
          <span class="sidebar-list-label">Connections</span></a></li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="clubs">
          <span class="ki ki-bank ki-lg sidebar-list-icon"></span>
          <span class="sidebar-list-label">Clubs</span>
        </a></li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="admin">
          <span class="ki ki-user-tie ki-lg sidebar-list-icon"></span>
          <span class="sidebar-list-label">Admin</span></a></li>
    </ul>
  </div>
</nav>
