<div class="modal-header">
    <h4 class="modal-title">Reactivate Marvel Community</h4>
    <span class="ki ki-close" (click)="close()"></span>
  </div>

<div class="mt-10 ml-20 mr-20">
    <h5 class="mb-10">What happens next?</h5>
    <div class="mb-20">
        <ul class="list-style-circle">
            <li>All the club members will be able to see the club and communicate through it</li>
            <li>This club will be shown to all users if it is public</li>
        </ul>
    </div>
    <div class="form-group">
        <label>Reason</label>
        <input type="text" class="form-control input  py-24">
   </div>

    <div class="modal-footer p-20">
        <button class="btn btn-secondary" (click)="close()">Cancel</button>
        <button class="btn bg-accent-violet">Confirm</button>
    </div>
</div>



