<div class="modal-header">
    <h4 class="modal-title">Deactivate Marvel Community</h4>
    <span class="ki ki-close" (click)="close()"></span>
  </div>

<div class="mt-10 ml-20 mr-20">
    <h5 class="mb-10">What happens next?</h5>
    <div class="mb-20">
        <ul class="list-style-circle">
            <li>This club and all the conversation will be completly removed from the system</li>
            <li>All the users in this club will be notified about the activity</li>
        </ul>
    </div>
    
    <div class="form-group">
        <label>Reason</label>
        <input type="text" class="form-control input-xl">
   </div>

    <div class="modal-footer p-20">
        <button class="btn btn-secondary" (click)="close()">Cancel</button>
        <button class="btn bg-accent-violet">Confirm</button>
    </div>
</div>
